@media (max-width: 767px) {
  :root {
    font-size: 0.95rem;
  }
}

*,
::after,
::before {
  scrollbar-color: $scroll_bar_thumb_color $scroll_bar_back_color;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  scrollbar-width: thin;
  outline: none;
}

::-webkit-scrollbar {
  z-index: 1000;
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: $scroll_bar_back_color;
}

::-webkit-scrollbar-thumb {
  background-color: $scroll_bar_thumb_color;
  border-radius: 10px;
}

html {
  background-color: $bg_color;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $bg_color;
  overflow: hidden;
  position: fixed;
  color: #fff;
  margin: 0;
  inset: 0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: #acf !important;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: inherit !important;
  }
}

main {
  transform: translateY($nav_height);
  height: calc(100% - $nav_height);
  position: relative;
  z-index: 1;

  .page {
    transform: translateY(10rem);
    @extend %transition_500;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
    inset: 0;

    &.active {
      transform: translateY(0);
      pointer-events: all;
      z-index: 1;
      opacity: 1;
    }

    &.render {
      display: block;
    }

    [class^="page-box"] {
      justify-content: center;
      flex-direction: column;
      align-content: center;
      position: relative;
      display: flex;
      height: 100%;
    }

    .author {
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      font-size: 0.9rem;
      position: fixed;
      color: #acf;
      display: flex;
      @extend %text;
      bottom: 0;
      right: 0;
      left: 0;

      @media (max-width: 500px) {
        padding: 1rem;
      }
    }
  }
}

.title {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  display: flex;
  height: 5rem;

  @media (max-width: 768px) {
    align-items: flex-start;
    font-size: 1.8rem;
    height: 3rem;
  }
}

.swiper-pagination {
  bottom: 4rem !important;

  .swiper-pagination-bullet {
    box-shadow: inset 0 0 0 0.14rem #fff;
    background-color: transparent;
    margin: 0 1rem !important;
    @extend %transition_500;
    @extend %transition_bg;
    height: 1rem;
    width: 1rem;
  }

  @media (max-height: 720px) {
    bottom: 1rem !important;
  }
}

.swiper-button-prev {
  left: 5vw;

  &::after {
    font-size: 2.2rem;
  }
}

.swiper-button-next {
  right: 5vw;

  &::after {
    font-size: 2.2rem;
  }
}
