$page_controller_line_width: 6px;
$page_controller_width: 64px;
$dot_width: $page_controller_line_width * 1.6;
$scroll_bar_thumb_color: #234;
$scroll_bar_back_color: #fff4;
$shadow: 0 0 0.75rem #abf5;
$backdrop_color: #abf2;
$bg_color: #012;
$nav_height: 5rem;
